@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-color-primary-50: 240 249 255;
  --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0f9ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #e0f2fe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bae6fd */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #7dd3fc */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #38bdf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #0ea5e9 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0284c7 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0369a1 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #075985 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0c4a6e */
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 8px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d3d3d3 transparent;
}

body {
  background: whitesmoke;
  color: #2d2d2d;
  transition: all 0.3s ease;
}

body.dark {
  background: #1d1d1d;
  color: #eee;
}

body .card {
  background: #eeeeee;
  color: #2e2e2e;
  transition: all 0.3s ease;
}

body .sub-card {
  background: #dadada;
  color: #2e2e2e;
  transition: all 0.3s ease;
}

body.dark textarea.sub-card {
  color: #e5e5e5;
  transition: all 0.3s ease;
}

.sub-card h4 {
  color: #404040;
  transition: color 0.3s ease;
}

.sub-card p {
  color: #8c8b8b;
  transition: color 0.3s ease;
}

.card-selected h4 {
  color: #e5e5e5;
  transition: color 0.3s ease;
}

.card-selected p {
  color: #d3d3d3;
  transition: color 0.3s ease;
}

body.dark .card {
  background: #2e2e2e;
  color: #e5e5e5;
}

body.dark .sub-card {
  background: #404040;
  color: #e5e5e5;
}

.modal-card {
  background: #fff;
  color: #2d2d2d;
  transition: all 0.3s ease;
}

body.dark .modal-card {
  background: #1d1d1d;
  color: #e5e5e5;
}

/* body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5 {
  color: #e5e5e5;
  transition: color 0.3s ease;
} */

.icon-light {
  background-color: #8c8b8b;
  transition: color 0.3s ease;
}

.icon-light:hover {
  background-color: #404040;
}

body.dark .icon-light {
  background-color: #404040;
}

body.dark .icon-light:hover {
  background-color: #8c8b8b;
}

.header {
  background: whitesmoke;
  transition: background 0.3s ease;
}

body.dark .header {
  background: #1d1d1d;
}

.bg-main {
  background: #fff;
  transition: background 0.3s ease;
}

body.dark .bg-main {
  background: #212121;
}

.out-box {
  border: 2px dashed #2d2d2d;
  border-radius: 20px;
  transition: border 0.3s ease;
}

body.dark .out-box {
  border: 2px dashed #e5e5e5;
}

.aside .video-card {
  background: #fff;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 2px solid rgb(59, 130, 246);
  transition: background 0.3s ease;
}

body.dark .aside .video-card {
  background: #404040;
}

.aside .video-card .icons {
  position: absolute;
  left: 50%;
  top: -18px;
  transform: translateX(-50%);
  width: 100%;
}

textarea.outline-none,
textarea:focus {
  outline-offset: 0px;
  outline: 1px solid transparent;
}

textarea.outline-1 {
  outline-style: solid;
}

.focus\:outline-none:focus {
  outline: none;
  outline-offset: 0px;
}

@media screen and (min-width: 1024px) {
  .current-avatar {
    position: relative;
  }

  .current-avatar::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -40px;
    z-index: 10;
    transform: translateY(-50%);
    width: 40px;
    height: 5px;
    background: rgba(59, 130, 246, 1);
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

.loading-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: rgba(0, 0, 0, 0.6);
}

.loading-screen .bars,
.loader .bars {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
}

.loading-screen .bars div,
.loader .bars div {
  width: 3px;
  height: 25px;
  margin-inline: 5px;
  background: #046dff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
  animation: stretch 0.5s ease-in infinite;
}

.embed .loader .bars div {
  background: #e5e5e5;
  height: 20px;
}

.loading-screen .bars div:nth-of-type(2),
.loader .bars div:nth-of-type(2) {
  animation-delay: 0.1s;
}

.loading-screen .bars div:last-of-type,
.loader .bars div:last-of-type {
  animation-delay: 0.2s;
}

@keyframes stretch {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
}

.body-embed .loader .bars div {
  background: #1d1d1d;
  height: 20px;
}

body.dark .body-embed .loader .bars div {
  background: #e5e5e5;
}

img {
  user-select: none;
}

.skeleton-load {
  animation: skeleton-load 1s linear infinite alternate;
  overflow-x: hidden;
  animation-delay: calc(0.1 * var(--delay));
}

@keyframes skeleton-load {
  0% {
    background: rgba(0, 0, 0, 0.1);
  }
  50% {
    background: rgba(0, 0, 0, 0.04);
  }
}

.checkbox {
  font-size: 10px;
}

.checkbox input,
.radio input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.checkbox input:checked + label::before {
  background: rgba(76, 0, 130, 0.7);
  border: none;
}

.checkbox input:checked + label::after {
  transform: translateY(-70%) rotateZ(45deg) scale(1);
}

.radio input:checked + label::after {
  transform: translateY(-50%) scale(1);
}

.checkbox label,
.radio label {
  text-align: left;
  font-size: 13px;
  display: inline-block;
  width: max-content;
  transform: translateX(30px);
  position: relative;
  cursor: pointer;
  user-select: none;
}

@media screen and (min-width: 768px) {
  .checkbox label,
  .radio label {
    font-size: 15px;
  }
}

.checkbox label::before,
.radio label::before {
  content: '';
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1.5px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  transition: background 0.3s ease, border 0.3s ease;
}

.radio label::before {
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.checkbox label::after {
  content: '';
  position: absolute;
  left: -18px;
  top: 50%;
  transform: translateY(-30%) rotateZ(45deg) scale(0);
  width: 6px;
  height: 10px;
  border: 1.5px solid #fff;
  border-left: none;
  border-top: none;
  z-index: 1;
  transition: transform 0.2s ease;
}

.radio label::after {
  content: '';
  position: absolute;
  left: -23.5px;
  top: 50%;
  background: rgba(76, 0, 130, 0.7);
  transform: translateY(-50%) scale(0);
  width: 15px;
  height: 15px;
  border: 1.5px solid #fff;
  border-radius: 50%;
  z-index: 1;
  transition: transform 0.2s ease;
}

.rounded-5xl {
  border-radius: 40px;
}

.text-xxs {
  font-size: 10px;
}

.switch label {
  display: inline-block;
  position: relative;
  transform: translateX(-70px);
}

.switch label::before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  transform: translateY(-50%);
  top: 50%;
  width: 60px;
  height: 30px;
  border-radius: 35px;
  right: -70px;
  z-index: 1;
  transition: background 0.3s ease;
}

.switch input:checked + label::before {
  background: rgb(53, 86, 237);
}

.switch label::after {
  content: '';
  position: absolute;
  background: rgb(53, 86, 237);
  transform: translateY(-50%);
  width: 27px;
  height: 27px;
  border-radius: 50%;
  top: 50%;
  right: -39px;
  z-index: 2;
  transition: all 0.3s ease;
}

.switch input:checked + label::after {
  right: -68px;
  background: #fff;
}
